.u-section-1 .u-sheet-1 {
  min-height: 404px;
}

.u-section-1 .u-text-1 {
  width: 912px;
  margin: 67px auto 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: -214px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 892px;
}

.u-section-2 .u-text-1 {
  width: 314px;
  margin: 70px auto 0;
}

.u-section-2 .u-list-1 {
  width: 940px;
  margin: 57px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 254px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 24px 23px;
}

.u-section-2 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0 7px;
}

.u-section-2 .u-container-layout-2 {
  padding: 24px 23px;
}

.u-section-2 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0 7px;
}

.u-section-2 .u-container-layout-3 {
  padding: 24px 23px;
}

.u-section-2 .u-icon-3 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0 7px;
}

.u-section-2 .u-form-1 {
  height: 358px;
  width: 368px;
  margin: 0 auto 60px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
  margin-top: auto !important;
}

.u-section-2 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-2 .u-label-5 {
  font-size: 1.125rem;
}

.u-section-2 .u-label-6 {
  font-size: 1.125rem;
}

.u-section-2 .u-btn-1 {
  font-size: 1.25rem;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-group-1 {
    height: 285px;
    margin: -7px 470px 35px 11px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 598px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-form-group-1 {
    margin-left: 0;
    margin-right: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-group-1 {
    margin-right: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-form-group-1 {
    margin-right: 0;
  }
}
