<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="TIC TAC TOE">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="../static/navigation.css" media="screen">
<link rel="stylesheet" href="../static/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="../static/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/navigation.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "../static/images/unnamed.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-92af"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://www.linkedin.com/in/orangedavy" class="u-image u-logo u-image-1" title="linkedin" target="_blank" data-image-width="512" data-image-height="512">
          <img src="../static/images/unnamed.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse u-custom-font u-font-oswald" style="font-size: 1.5rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-font-oswald u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-light-1 u-text-hover-palette-3-base" href="home" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-light-1 u-text-hover-palette-3-base" href="play" style="padding: 10px 20px;">Play</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-light-1 u-text-hover-palette-3-base" href="stats" style="padding: 10px 20px;">Leaderboard</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="home">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="play">Play</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="stats">Leaderboard</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-left u-clearfix u-section-1" id="sec-9e42">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <h1 style="text-align: center; line-height: 1.2;">
            <span class="u-custom-font u-font-oswald" style="font-size: 4.5rem;">TIC TAC TOE</span>
          </h1>
          <p style="line-height: 1.2;">
            <br>
          </p>
          <p id="isPasted" style="line-height: 1.2;">
            <span class="u-custom-font u-font-lato" style="font-weight: 300; font-size: 1.5rem;">This is the Tic Tac Toe game designed exclusively for you.</span>
          </p>
          <p style="line-height: 1.2;">
            <span class="u-custom-font u-font-lato" style="font-weight: 300; font-size: 1.5rem;">You can choose to play with your friend, with a bot, or simply watch the bots play against themselves. You can also check your ranking through the leaderboard.</span>
          </p>
          <p style="line-height: 1.2;">
            <span class="u-custom-font u-font-lato" style="font-weight: 300; font-size: 1.5rem;">Now, pick the mode you want and start having fun!</span>
          </p>
        </div>
        <div class="u-align-center u-border-15 u-border-palette-3-light-1 u-line u-line-horizontal u-line-1"></div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-2972">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1">Welcome Aboard!</h2>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-palette-3-base u-icon-1"><img src="../static/images/511587-dad4829e.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-2">Double Game</h3>
                <p class="u-align-center u-text u-text-3">Play with a local friend.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-palette-3-base u-icon-2"><img src="../static/images/2408447-ce652568.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-4">Single Game</h3>
                <p class="u-align-center u-text u-text-5">Play against a bot.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-text-palette-3-base u-icon-3"><img src="../static/images/2015819-f99b074d.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-6">Automatic Game</h3>
                <p class="u-align-center u-text u-text-7">Watch bots play against themselves.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-align-center u-form u-form-1">
          <form action="play" class="u-clearfix u-form-custom-backend u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px" source="custom" redirect-address="play" redirect="true">
            <div class="u-form-group u-form-input-layout-horizontal u-form-radiobutton u-label-top u-form-group-1">
              <label class="u-custom-font u-font-lato u-label u-label-1">Battle mode?</label>
              <div class="u-form-radio-button-wrapper">
                <div class="u-input-row">
                  <input type="radio" name="mode" value="Double" required="required">
                  <label class="u-label" for="radiobutton">Double</label>
                </div>
                <div class="u-input-row">
                  <input type="radio" name="mode" value="Single" checked="checked" required="required">
                  <label class="u-label" for="radiobutton">Single</label>
                </div>
              </div>
            </div>
            <div class="u-form-group u-form-name u-label-top">
              <label for="name-558c" class="u-custom-font u-font-lato u-label u-label-5">Player X name?</label>
              <input type="text" placeholder="Name" id="name-558c" name="name_x" class="u-border-1 u-border-grey-30 u-custom-font u-font-lato u-input u-input-rectangle u-radius-10" required="" maxlength="30">
            </div>
            <div class="u-form-group u-label-top">
              <label for="email-558c" class="u-custom-font u-font-lato u-label u-label-6">Player O name?</label>
              <input type="text" placeholder="Name" id="email-558c" name="name_o" class="u-border-1 u-border-grey-30 u-custom-font u-font-lato u-input u-input-rectangle u-radius-10" required="required" maxlength="30">
            </div>
            <div class="u-align-center u-form-group u-form-submit u-label-top">
              <input type="submit" value="submit" class="u-form-control-hidden">
              <a href="#" class="u-active-palette-3-light-3 u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-font-oswald u-hover-palette-3-base u-palette-3-light-1 u-radius-10 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">Submit!</a>
            </div>
            <div class="u-form-send-message u-form-send-success">Sent. Have fun!</div>
            <div class="u-form-send-error u-form-send-message">Failed. Try again!</div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>
  
</body></html>
